.special-offer-you img{
    padding: 0 !important;
}
.special-offer-you .product-image-container{
    background: transparent;
}
.special-offer-you .product-grid{
    flex-wrap: wrap;
    gap: 15px;
}
.special-offer-you .product-card{
    width: 32.33%;
    padding: 0;
    flex: 0 0 32.33%;
    position: relative;
    margin-bottom: 1.5rem;
}
.special-offer-you .product-details{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: rgba(0,0,0,0.8);
}
.special-offer-you .product-description{
	color: #FFF;
	text-align: left;
	font-size: 15px;
	font-style: normal;
	padding: 0 10px;
	margin-bottom: 5px;
	font-weight: 700;
	line-height: 19.8px;
	letter-spacing: 0.24px;
}
.special-offer-you .product-card .star-rating,.special-offer-you .color-choice{
	padding: 0 10px;
}
.special-offer-you .product-price{
	margin-bottom: 5px;
}
.special-offer-you .product-card .star-rating svg{
	color: #fff;
}
.special-offer-you .add-to-cart-button{
	background: #FE2B54;
	border: 1px solid #FE2B54;
}
.sidebar{
	padding: 0 10px;
	min-width: 250px;
}
.sidebar .card .card-header h4{
	color: var(--Dark-blue, #050B23);
	font-family: Roboto Condensed;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	padding: 10px 10px 14px;
	line-height: normal;
	letter-spacing: 1.68px;
	margin: 0;
}
.sidebar .card .card-header{
	border-bottom: 5px solid #050B23;
}
.sidebar .card .colors h5,.sidebar .card .size h5,.sidebar .card .price-range h5{
	color: var(--Dark-blue, #050B23);
	font-family: Roboto Condensed;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1.68px;
	border-bottom: 0.65px solid #050B23;
	max-width:160px;
	margin-bottom: 1rem;
}
.sidebar .card .colors .colors-div,.sidebar .card .size .size-div{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 7px;
}
.sidebar .card .colors .colors-div span{
	width: 27px;
	height: 27px;
	display: block;
	background: #D9D9D9;
}
.sidebar .card .size .size-div span{
	display: flex;
	width: 47px;
	padding: 13px 0;
	justify-content: center;
	align-items: flex-start;
	border: 1px solid #000;
	background: #000;
	color: #FFF;
	text-align: center;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px; /* 161.538% */
	letter-spacing: 2px;
	text-transform: uppercase;
}
.sidebar .card .price-range .price-range-div input{
	width: 212px;
	height: 33px;
	flex-shrink: 0;
	background: #F5F5F5;
	color: #A9A9A9;
	text-align: center;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	border: 0;
	margin-bottom: 10px;
	padding: 0 1rem;
	text-align: left;
	appearance: none;
	line-height: normal;
}
.tabs-bar .react-tabs__tab-list{
	border-bottom: 0;
}
.tabs-bar .react-tabs__tab--selected{
	background: #FE2B54 !important;
	border-color: #FE2B54 !important;
	color: #fff !important;
}
.tabs-bar .react-tabs__tab{
	width: 178px;
	height: 27px;
	flex-shrink: 0;
	background: #D9D9D9;
	color: #949494;
	text-align: center;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	border-radius: 0;
}
.detail-product-grid  .product-details{
	position: relative !important;
	background: none;
}
.detail-product-grid  .product-details .product-description{
	color: #5C5C5C;
	font-family: Century Gothic;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 19.8px;
	letter-spacing: 0.24px;
	padding: 0;
}
.detail-product-grid .product-min{
	color: #5C5C5C;
	font-family: Century Gothic;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	display: block;
	margin: 10px 0 12px;
	line-height: 19.8px; /* 165% */
	letter-spacing: 0.24px;
}
.detail-product-grid .star-rating{
	padding: 0 !important;
	justify-content: flex-start;
}
.detail-product-grid .star-rating svg{
	color: #000 !important;
}
.product-detail-page{
	display: flex;	
}
.detail-product-grid .product-price{
	margin: 0;
	margin-bottom: 0 !important;
	color: #FE2B54;
	text-align: center;
	font-family: Century Gothic;
	font-size: 29px;
	font-style: normal;
	font-weight: 700;
	line-height: 19.8px; /* 68.276% */
	letter-spacing: 0.24px;
}
.buttons{
	align-items: center;
}
.detail-product-grid .product-card{
	flex: 0 0 31.33%;
}